<!DOCTYPE html>
<html lang="en">

<head>
  <title>Severin Uebbing</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  
  <!-- Page header -->
  {% include header.html %}
  
  <!-- Page content -->
  {{ content }}

  <!-- Page footer -->
  {% include footer.html %}

</body>
</html>